@charset "utf-8";
/* CSS Document */
*, html, body{ padding: 0; margin: 0;list-style: none; text-decoration: none;box-sizing: border-box;}
body{width: 100%; background: #282828;}
.container-1{width: 100%; background:#191919; border-bottom: 1px solid #000;}
.menu-1{width: 850px; height: auto;margin: auto;}
.menu-1 nav ul{display: flex;justify-content:flex-start;}
.menu-1 nav ul li{padding:  10px 10px 10px 0;}
.menu-1 nav ul li a{display: block;font-family: "arial";font-size: 12px;color: #737272;}
.menu-1 nav ul li a:hover{color: #019fc1;}
.container-2, .container-6{width: 100%; background:-webkit-linear-gradient(left, #191919 0%, #272828 50%, #191919 100%);border-top: 1px solid #323232;border-bottom: 1px solid #000;}
.logo{width: 850px; height: auto;margin: auto;padding: 30px 0;display: flex;}
h2{font-family: "arial";font-size: 24px;color: #737272;font-weight: 100;}
h2 span{color: #019fc1;}
.logo p{font-family: "arial";font-size: 12px;color: #a3a3a3;padding: 7px;}
.container-3{width: 100%;background:-webkit-linear-gradient(top, #242424 0%, #191919 100%);border-top: 1px solid #323232;border-bottom: 1px solid #000;}
.cont-menu{width: 850px; height: auto;margin: auto;display: flex;justify-content: space-between;}
.menu-2 nav ul{display: flex;justify-content:flex-start;}
.menu-2 nav ul li{padding:  15px 25px 15px 0;}
.menu-2 nav ul li a{display: block;font-family: "arial";font-size: 12px;color: #737272;}
.menu-2 nav ul li a:hover{color: #019fc1;}

.skoba ul{width: 100%;  display: flex; justify-content: flex-end;}
.skoba ul li {padding:  9px 0;}
.skoba ul li a{width: 25px; height: 25px;margin: 0 5px; background: url(../image/social.png); display: block; z-index: 150;}
#s1{background-position:0 0 ;}
#s2{background-position:-36px 0 ;}
#s3{background-position:-71px 0 ;}
#s4{background-position:-107px 0 ;}
#s5{background-position:-142px 0 ;}

.container-4{width: 100%; background:#191919; margin-top: 15px;}
.post{width: 850px; height: auto;margin: auto;display: flex;justify-content: flex-end;}
.menu-post nav{margin: 5px 0;}
.menu-post nav ul li{background:-webkit-linear-gradient(left, #191919 0%, #272828 50%, #191919 100%);border: 1px solid #323232;margin: 2px;padding: 11px 7px;}
.menu-post nav ul li a{display: block; font-family: "arial";font-size: 12px;color: #a3a3a3;}

.menu-post nav ul li:hover a{color: #fff; }
.menu-post nav ul li:hover{background:-webkit-linear-gradient(left, #006276 0%, #019ec0 50%, #006276 100%); }
.menu-post nav ul li:hover:after{content: '';position: absolute;border-top: 18px solid rgba(204, 204, 204, 0);border-right: 27px solid #006276;margin-left: -34px;border-bottom: 18px solid rgba(204, 204, 204, 0);margin-top: -25px;}

.post-foto{display: none;margin-left: -488px;}
#foto1{margin-top: -12px;}
#foto2{margin-top: -52px;}
#foto3{margin-top: -92px;}
#foto4{margin-top: -132px;}
#foto5{margin-top: -172px;}
#foto6{margin-top: -212px;}

.menu-post nav ul li:hover .post-foto{display:block;position:absolute;}
.container-5{border-bottom: 1px solid #0b0b0b;}
.contant{width: 850px;height: auto;margin: auto;display: flex;justify-content: space-between;}
.cont-l{width: 570px;}
.item{border:1px solid #2c2c2c;margin: 15px 0;}
.item-name{ background: #191919;display: flex;}
.item-name p{font-family: "arial";font-size: 12px;padding: 14px 4px;position: relative;color: #fff;}
h3{font-family: "arial";font-size: 24px;color: #019fc1;padding: 7px 20px;font-weight: 100;}
.item-name:before{content: '';width: 62px; height: 42px; position: absolute;color:#b8a47e; background: url(../image/date-box.png) no-repeat;}
.item-post{background: #333333;padding: 15px;display: flex; justify-content: space-between;}
.item-foto{padding: 5px 5px 1px 5px;background: #2b2b2b;display: inline-block;border: 1px solid #414141;}
.item-text{padding: 6px 15px;}
.item-text p{font-family: "arial";font-size: 12px;color: #a9a9a9;margin-bottom: 15px;}
.item-text a{font-family: "arial";font-size: 12px;color: #fff;font-style: italic;margin-top: 20px;}

.cont-r{width: 250px;}
.search{border:1px solid #2c2c2c;margin: 15px 0;}
.search-name{ background: #191919;}
.search-name p{font-family: "arial";font-size: 12px;padding: 14px 4px;position: relative;color: #fff;}
.search-post{background: #333333;padding: 15px;}
#key{width: 100%;padding: 13px;background: #2b2b2b;border: 1px solid #404040;}
.go{display: flex; justify-content: space-between;margin-top: 10px;align-items: baseline;}
.go p{font-family: "arial";font-size: 10px;color: #019fc1;}
#go{padding: 13px;background: #2b2b2b;border: 1px solid #404040;color: #fff;}

.blog{border:1px solid #2c2c2c;margin: 15px 0;}
.blog-name{ background: #191919;}
.blog-name p{font-family: "arial";font-size: 12px;padding: 14px 4px;position: relative;color: #fff;}
.blog-post{background: #333333;}
.blog-post nav ul li{padding: 10px 20px;border-top: 1px solid #444444;border-bottom: 1px solid #2a2a2a;}
.blog-post nav ul li a{display: block; font-family: "arial";font-size: 14px;color: #a9a9a9;margin-left: 25px;}
.blog-post nav ul li:before{content: '';width: 8px; height: 8px; position: absolute;z-index: 100; background: url(../image/5.png) no-repeat; margin-top: 4px;}

.footer{width: 850px;margin: auto;padding: 20px 0;text-align: center;}
.footer p{font-family: "arial";font-size: 12px;color: #a2a2a2;}
.footer span{color: #019fc1;}
